:root {
  --font: #999b9d;
  --header-bg: #181818;
  --site-bg: #1f1f1f;
  --primary-color: #ff5500;
  --font-input-color: rgb(160, 160, 160);
  --font-color: #ffffff;
  --input-border-color: #404040;
  --input-bg: #282828;
}
