.header {
  height: 60px;
}

.header__grid {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  margin-right: 15px;
}

.header__link:last-child {
  margin-right: 0;
}

.header__user-bar {
  display: flex;
  align-items: center;
}

.header__user-msg {
  margin-right: 15px;
}

.header__login {
  background: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
}
