.input {
  position: relative;
  margin-bottom: 10px;
}

.input:last-child {
  margin-bottom: 0;
}

.input__header {
  margin-bottom: 5px;
}

.input__field[type="text"],
.input__field[type="password"] {
  color: var(--font-input-color);
  background: var(--input-bg);
  border: 1px solid var(--input-border-color);
  padding: 8px 15px;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0);
  transition: box-shadow 0.2s ease;
}

.input__field[type="text"]:focus,
.input__field[type="password"]:focus {
  color: #ffffff;
  box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.3);
}
